@font-face {
  font-family: 'NewsGothicMT';
  src: url("../fonts/NewsGothicMT.eot?#iefix") format("embedded-opentype"), url("../fonts/NewsGothicMT.woff") format("woff"), url("../fonts/NewsGothicMT.ttf") format("truetype"), url("../fonts/NewsGothicMT.svg#NewsGothicMT") format("svg");
}
@font-face {
  font-family: 'NewsGothicMT-Bold';
  src: url("../fonts/NewsGothicMT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NewsGothicMT-Bold.woff") format("woff"), url("../fonts/NewsGothicMT-Bold.ttf") format("truetype"), url("../fonts/NewsGothicMT-Bold.svg#NewsGothicMT") format("svg");
}
@font-face {
  font-family: 'NewsGothicMT-Italic';
  src: url("../fonts/NewsGothicMT-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/NewsGothicMT-Italic.woff") format("woff"), url("../fonts/NewsGothicMT-Italic.ttf") format("truetype"), url("../fonts/NewsGothicMT-Italic.svg#NewsGothicMT") format("svg");
}
