$psb-red:             #e31b23;
$psb-red-hover:       darken($psb-red, 20%);
$psb-black:           #202122;
$psb-dark-grey:       #5b5b5d;
$psb-white:           #ffffff;
$menu-bg-grey:        #343537;
$menu-grey:           #909091;
$psb-light-grey:      #e0e0e0;
$input-black:         #302c2c;
$psb-blue:            #158fcc;
$psb-lightest-grey:   #fafafa;
$psb-select-border:   #cccccc;
$psb-cyan:            #1ab4ad;
$psb-grey:            #c9c9c9;
$psb-grey2:           #f8f8f8;

$testimonials-size:   11px;
$line-height-default: 1.42857143;
$relative_path_url: '../../'
